.popup__input {
    display: block;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    box-sizing: border-box;
    padding: 0;
    width: calc(100% - 36px*2);
    margin: 30px 36px 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    font-family: inherit;
    color: black;
}

.popup__input:first-of-type {
    margin-top: 54px;
}

@media screen and (max-width: 1023px) {
    .popup__input {
        width: calc(100% - 22px*2);
        margin: 30px 22px 0;
    }
}

@media screen and (max-width: 1023px) {
    .popup__input:first-of-type {
        margin-top: 75px;
    }

}