.footer__caption {
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    color: #545454;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .footer__caption {
        font-size: 14px;
        line-height: 17px;
    }
}