.header {
  margin: 45px 200px 0;
  padding-bottom: 41px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 1023px) {
  .header {
    margin: 28px 40px 0;
  }
}

@media screen and (max-width: 424px) {
  .header {
    margin: 28px 0 0;
    padding-bottom: 31.6px;
  }
}
