.card__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
  display: block;
  border-radius: 10px 10px 0px 0px;
}

.card__image:hover {
  cursor: pointer;
}
